################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/source-code/log-adapter/src/Ntq.LogAdapter.Core/bin/Debug
/source-code/log-adapter/src/packages
