/**/*.suo
/**/*.user
/**/*.pubxml
/**/*.coverage
/**/bin
/**/logs
/**/obj
/**/build
/**/Log
/packages
/*.cs
/*.vs

/GeneratedDocumentMngClient/debug.log
/GeneratedDocumentMngClient/bower_components
/GeneratedDocumentMngClient/node_modules
/GeneratedDocumentMngClient/build
/GeneratedDocumentMngClient/test/report
/GeneratedDocumentMngClient/test/coverage
/GeneratedDocumentMngExtension/Properties/AssemblyInfo.cs